.aboutus-tabs {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    cursor: pointer;
    flex-wrap: wrap;
    position: relative;
    padding:0px;
  }
  .subtabs {
    display: flex; /* Use flexbox to lay out tabs */
    flex-direction: column; /* Arrange tabs vertically */
    width: 400px; /* Adjust width as needed */
    background-color: rgba(0, 0, 0, 0.16);
    margin:0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .tab-link {
    list-style: none;
    color: var(--secondaryblack);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 16px 32px;
    border: none;
    outline: none;
    position: relative;
    transition: color 0.3s ease;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1%;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
  }
  
  .tab-link.active::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    background-color: var(--accentcordovan);
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  /* Responsive Design */
  @media (max-width: 1200px) {
    .aboutus-tabs {
      /* margin: 0 5px; */
    }
  
    .tab-link {
      font-size: 17px;
      padding: 14px 28px;
    }
  
    .who-we-are p {
      margin: 0 10px;
    }
  
    .missiondiv,
    .visiondiv {
      justify-content: center;
      align-items: center;
      margin: 0 -10px;
    }
  
    .missiondiv img,
    .visiondiv img {
      max-width: 500px;
      height: auto;
    }
  }
  
  @media (max-width: 992px) {
    .aboutus-tabs {
      margin: 20px 0;
      gap: 1px;
    }
  
    .tab-link {
      font-size: 16px;
      padding: 12px 24px;
    }
  }
  
  @media (max-width: 768px) {
    .aboutus-tabs {
      justify-content: center;
      margin: 0;
      gap: 1px;
    }
  
    .tab-link {
      flex: 1 1 auto;
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .aboutus-tabs {
      justify-content: center;
      margin-top: 20px;
      gap: 1px;
    }
  
    .tab-link {
      font-size: 14px;
      padding: 8px 16px;
      flex: 1 0 auto;
    }
  }
  
  @media (max-width: 480px) {
    .tab-link {
      flex: 1 1 100%;
    }
  }
  