.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primarycoral);
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid rgba(64, 67, 78, 0.1);
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 22px;
    /* color: blue; */
}

.text {
    font-size: 14px;
    text-decoration: none;
    color: var(--primarycoral);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    /* padding: 0 1rem;  */
}
.text:hover {
    transform: scale(1.05);  /* Increase font size on hover */
    color: var(--accentwine);
}
.right {
    display: flex;
    gap: 20px;
    /* color:red; */
    z-index:20;
    opacity:1;
}
.topbar-social-icon {
    height: 25px;
    width: auto;
    color: var(--primarycoral);
}
.topbar-social-icon:hover{
    color: var(--accentwine);
    transform: scale(1.05); 
}
.topbar-icon{
    color: var(--accentwine);
}
@media (max-width: 768px) {
    .topbar {
        flex-direction: column;
        text-align: center;
    }

    .left {
        flex-direction: column;
        align-items: center;
    }

    .right {
        margin-top: 10px;
    }
}
