.service-detailed{
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding:50px;       */
    margin:0;
    background: linear-gradient(217deg, #f6f6d2, rgba(0,0,255,0) 70.71%), 
            linear-gradient(75deg,#ecb8ea , rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #5869b4,rgba(255,0,0,0) 70.71%);
    /* height:50vh; */
}
.service-detailed-left{
    width:20%;
}
.service-detailed-right{
    width:20%;
}
.service-detailed-center{
    width:60%;
}
.service-detailed-center div{
    background-color: rgba(250, 250, 249, 0.157); 
    margin:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow:2px 5px 50px 1px grey;
    padding:30px;
}
.service-detailed-center h1{
    text-align:center;
    font-size:55px;
    font-weight:600;
    color:#454545;
    padding-top:30px;
    padding-bottom: 30px;
}
.service-detailed-center h2{
    align-self: flex-start;
    /* text-align:left; */
    font-size:35px;
    color:#454545;
    padding:10px;
    margin-left:0;
    font-weight:1000;
}
.service-detailed-center p{
    font-size:25px;
    color:#454545;
    padding:15px;
    text-align: left;
}
.service-img{
    margin:20px;
    width:400px;
    height:400px;

}
.service-img img{
    /* align-self: center; */
    width:100%;
    height:100%;
    box-shadow:px 2px 5px 10px grey;
}
