/* Gallery.css */
.gallery-tabs-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery-tabs {
    display: flex;
    margin:20px 0px;
    align-items: center;
    background-color: transparent;
    /* background-color: #f5f5f5; */
    border-bottom: 2px solid #ddd;
    box-shadow: 5px 5px 20px -5px grey; 
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.gallery-tabs::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.gallery-tabs {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* .scroll-button {
    background:transparent;
    color:  rgba(0, 0, 0, 0.132);
    border: none;
    cursor: pointer;
    z-index: 9;
    font-size: 35px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .scroll-button.scroll-left {
    left: 0;   
}

.scroll-button.scroll-right {
    right: 0;
} */

.gallery-tab {
    display: inline-block;
    padding: 10px 20px;
    white-space: nowrap;
    background:transparent;
    /* border-radius: 4px; */
    cursor: pointer;
    user-select: none;
    border-right:2px solid rgba(128, 128, 128, 0.329)
}

.gallery-active {
    color: var(--accentcordovan); /* Highlight active tab */
    font-weight: 700;
    background-color: rgba(31, 0, 0, 0.166);
    /* color:var(--primarycream); */
}

.gallery-tab-content {
    /* Add your content styles here */
    /* background-color: red; */
}
.gallery-active-tab{
    display:flex;
    /* margin:100px; */
    /* background-color: red; */
}
.gallery-active-image{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
}
@media screen and (max-width:770) {

    /* .scroll-button.right {
    margin: 0 !important;
} */
}
