.machines-slider {
    /* box-shadow: -2px -5px 100px -70px; */
    /*background-color: var(--primarycream);
    opacity:0.8;*/
    /* padding-bottom: 25px; */
    /* margin: 25px 0;   */
    /* border-radius: 5px; */
    /* overflow: hidden;  */
    color:red;
}
.container {
    margin: 20px auto;
    width: 100%;
    height: auto;
    border-color: white;
    border-radius: 5px;

    
}

.slide img {
    display: flex;
    height: 25vh;
    width: 95%;
    margin: 20px 0;
    border-radius: 5px;
}  

.slide:focus{
    outline:none;
}

.slide p{
    /* margin-top: 20px; */
    color: var(--accentcordovan);
    font-weight: 700;
}  
.equipment-name {
    font-size: 16px;
    text-align: center;
    /* margin:25px 0; */
}

/* Slider Dots */
.slick-dots li button:before {
    color: var(--primarycoral);
    margin:10px;
    /* padding:10px; */
    
}
/* Force color change using higher specificity */
.slick-prev:before, 
.slick-next:before {
    
    color: var(--accentcordovan) !important; /* Change arrow color on hover */
   
}

/* Change the background color of the arrows */
.slick-prev,
.slick-next {
    background-color: transparent !important; /* Change to transparent or any color */
    width: 40px !important; /* Increase width */
    height: 40px !important; /* Increase height */
    font-size: 30px !important; /* Increase font size for the arrow */
    transform: scale(1.5) !important; /* Scale up the arrow */
}
.slick-prev {
    left: -40px !important; /* Adjust position of the left arrow */
}

.slick-next {
    right: -20px !important; /* Adjust position of the right arrow */
}
/* Change hover color */
.slick-prev:hover:before,
.slick-next:hover:before {
    color: var(--primarycoral) !important; /* Change to your desired color */
}


@media (max-width: 768px) {
    .equipment-name {
        font-size: 14px;
    }
    .machines-slider{
        /* padding-bottom:-100px;
        padding:20px;
        margin:20px; */
    }
    .slide {
        justify-content:center !important;
        align-items: center !important;
        padding:0;
        
        
    }
    .equipment-image {
        width: 100%; /* Full width of the slide container */
        max-width: 450px; /* Maximum width for larger screens */
        height: auto; /* Maintain aspect ratio */
        border-radius: 5px;
        padding:0;
        margin:0;
    }
    .slick-dots li{
        padding:0 !important;
        margin:0 !important;
    }
    .slick-dots li button:before {
        color: var(--primarycoral);
        margin-left:-15px;
        /* padding:10px; */
        
    }
}

@media (max-width: 480px) {
    .equipment-name {
        font-size: 12px;
    }
    .machines-slider{
        /* display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: transparent; */
        /* padding-bottom:-100px; */
        /* padding:20px;/ */
        /* margin:20px; */
    }
    .slide {
        background-color: transparent;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    .equipment-image {
        display: flex;
        margin: 0 auto;
        height: 20vh;
        object-fit: cover;
        width: 100%;
        height: 100%;
       
    }
}
