.hero2-container{
    width: 100vw;
    height: 50vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size:cover;

}
.hero2{
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding:-600px;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--primarycream);
   
}
.hero2-container h1{
    font-size: 64px;
    padding-left: 13.5%;
    margin-bottom: 10px;
   
}
@media (max-width: 428px){
    .hero2 h1{
        font-size:32px;
        margin-bottom:25px;
    }
}
